*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(86, 176, 255, 0.5);
}
.all{
    width: fit-content;
    border-radius: 3%;
    border: 2px dashed blue;
    position: relative;
    background-color: rgb(181, 181, 181);
}
.lose::after{
    content: "YOU LOSE";
    position: absolute;
    top: 0;
    left: 0;
    top: 90px;
    width: 100%;
    height: 447.2px; 
    background-color: rgba(255, 0, 0, 0.5);
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
}
.won::after{
    content: "YOU WON";
    position: absolute;
    left: 0;
    top: 90px;
    width: 100%;
    height: 447.2px; 
    background-color: rgba(85, 255, 0, 0.5);
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
}


#upperDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
#restart{
    top: 5px;
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 5px;
    background-color: gray;
    color: aliceblue;
    font-variant: small-caps;
    margin-left: 4.5%;
}
.upper{
    font-size: 28px;
    font-variant: small-caps;
    padding: 0 10px;
}
#cusore-mode{
    width: 34px;
    height: 34px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
}



table {
    border-collapse: collapse;
    table-layout: fixed;
}
td {
    background-color: rgb(56, 56, 56);
    border: 1px solid black;

    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: blue;
}
td:hover{
    background-color: rgb(69, 69, 69);
}
.img-in-td{
    width: 60%;
    height: 60%;
}



.lowerDiv{
    z-index: 2;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.lowerDivs{
    width: 40%;
    text-align: center;
}
select{
    border: none;
    background-color: rgba(85, 85, 85, 0.5);
    margin-top: 5px;
}
.lower{
    font-variant: small-caps;
}

